---
import { PATH } from '@/consts'
import Spacer from '../astro/Spacer.astro'
import AdminPanelSidebarButton from './AdminPanelSidebarButton.astro'

interface Props {
  activeTab?: number
}

const { activeTab = 0 } = Astro.props

---

<aside class="w-64 bg-black px-2 py-16 pb-4 gap-y-2 flex flex-col text-zinc-300">
  <AdminPanelSidebarButton href={PATH.ADMIN_HOME} title="Home" active={activeTab === 0} />
  <AdminPanelSidebarButton href={PATH.ADMIN_SYSTEM} title="System" active={activeTab === 1} />
  <AdminPanelSidebarButton href={PATH.ADMIN_ANALYTICS} title="Analytics" active={activeTab === 2} />
  <AdminPanelSidebarButton href={PATH.CODE_EDITOR} title="Code" active={activeTab === 3} />
  <Spacer direction="vertical" />
  <form method="post" action={PATH.CLEAR_SESSION}>
    <button type="submit" class="bg-red-500 hover:bg-red-400 w-full px-16 text-white rounded-md p-2">Logout</button>
  </form>
</aside>