---
import { siteConfig } from '@/consts'
import Spacer from '../astro/Spacer.astro'
import AdminPanelSidebarButton from './AdminPanelSidebarButton.astro'
import AdminPanelProfile from './AdminPanelProfile.astro'
import Line from '../astro/Line.astro'

interface Props {
  activeTab?: number
  version?: string
  environment?: string
  username?: string
}

const {
  activeTab = 0,
  version = siteConfig.version,
  environment = siteConfig.environment,
  username = 'Admin',
} = Astro.props

const sideBarButtons = [
  { href: siteConfig.path.adminHome, title: 'Home', icon: 'LayoutGrid' },
  { href: siteConfig.path.adminSystem, title: 'System', icon: 'Settings' },
  { href: siteConfig.path.adminAnalytics, title: 'Analytics', icon: 'BarChart' },
  { href: siteConfig.path.codeEditor, title: 'Code', icon: 'Code' },
]

console.log('[AdminPanelSidebar] version:', version)

const { clearSession } = siteConfig.path
---

<aside class="w-52 bg-black pl-2 pr-4 py-8 gap-y-2 flex flex-col text-zinc-300">
  <AdminPanelProfile environment={environment} username={username} className="ml-1" />

  <Line className="my-2" />

  <!-- admin panel header section -->

  <div class="flex flex-col gap-y-2">
    {
      sideBarButtons.map((button, index) => (
        <AdminPanelSidebarButton
          href={button.href}
          title={button.title}
          active={activeTab === index}
          icon={button.icon}
        />
      ))
    }
  </div>

  <!-- admin panel footer section -->

  <Spacer direction="vertical" />

  <form method="post" target={clearSession}>
    <AdminPanelSidebarButton href={clearSession} title="Logout" icon="LogOut" variant="destructive" isFormSubmit />
  </form>
</aside>
