---
import FormattedDate from './FormattedDate.astro'

interface Props {
  post: {
    slug: string;
    data: {
      pubDate: Date;
      title: string;
      description: string;
      heroImage?: string;
    };
  };
}

const { post } = Astro.props;

const link = `/blog/${post.slug}/`;
---

<li>
  <a href={link}>
    <img class="blog-post-image" width={720} height={360} src={post.data.heroImage} alt={post.data.title} />
    <h4 class="title">{post.data.title}</h4>
    <p class="date">
      <FormattedDate date={post.data.pubDate} />
    </p>
  </a>
</li>
