---
import { GITHUB_OAUTH_URL } from "../pages/auth/github";

const FORM_EMOJI = "🔐";
const FORM_TITLE = "Login";
const FORM_BUTTON_TEXT = "Login";
const FORM_BUTTON_FORGOT = "forgot username or password";
const FORM_BUTTON_SIGNUP = "sign up";
const FROM_TARGET = "/auth/login";
---

<div>
  <form id="login-form" hx-post={FROM_TARGET} hx-target="this" hx-boost="false">
    <h3>{FORM_EMOJI}</h3>
    <h1>{FORM_TITLE}</h1>
    <input type="email" id="email" name="email" placeholder="email address" />
    <input
      type="password"
      id="password"
      name="password"
      placeholder="password"
    />
    <a href="/auth/github">
      <button id="github-login" type="button">login with github</button>
    </a>
    <button type="submit">{FORM_BUTTON_TEXT}</button>
  </form>
  <a href="/forgot">{FORM_BUTTON_FORGOT}</a>
  <a href="/signup">{FORM_BUTTON_SIGNUP}</a>
</div>
<style>
  #github-login {
    background-color: black;
    color: white;
  }

  form {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 2rem;
    margin: 3rem;
    border-radius: 6px;
    min-width: 340px;
  }

  form * {
    width: 100%;
    text-align: center;
  }

  form h3 {
    margin-top: 1rem;
    padding: 0;
  }

  form h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 0;
  }

  form input {
    text-align: center;
    font-size: large;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    min-height: 38px;
  }

  form button {
    color: white;
    font-weight: bold;
    background-color: #ffac1c;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 6px;
    outline: none;
    border: none;
    min-height: 44px;
    margin-bottom: 1rem;
  }

  form a {
    font-size: small;
    text-decoration: none;
  }
</style>
