---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '@/components/astro/BaseHead.astro'
import Header from '@/components/astro/Header.astro'
import Footer from '@/components/astro/Footer.astro'
import FormattedDate from '@/components/astro/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>
  <body class="w-full bg-white">
    <Header />
    <main id="article" class="flex self-stretch flex-1 py-24 flex-col items-center">
      <article class="flex flex-col max-w-screen-lg text-gray-800">
        <div class="flex flex-col justify-center max-w-screen-[960px] items-center">
          {
            heroImage && (
              <img class="max-w-[840px] rounded-3xl mb-16 shadow-2xl" src={heroImage} alt={title} />
            )
          }
        </div>
        <div class="prose flex flex-col gap-y-1 w-full">
          <div class="text-center">
            <div class="date pt-8 pb-4 text-gray-500">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="italic">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1 class="text-center mb-8">{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
