---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '@/components/astro/BaseHead.astro'
import Header from '@/components/astro/Header.astro'
import Footer from '@/components/astro/Footer.astro'
import HeroImage from '@/components/astro/HeroImage.astro'
import HeroTitle from '@/components/astro/HeroTitle.astro'
import Prose from '@/components/astro/Prose.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>
  <body class="w-full bg-white">
    <Header />
    <main id="article" class="flex flex-col flex-1 w-full lg:pt-16 pb-24 items-center">
      <article class="flex flex-col items-center w-full max-w-screen-lg text-gray-800">
        <HeroImage src={heroImage} alt={title} />
        <HeroTitle title={title} pubDate={pubDate} updatedDate={updatedDate} />
        <Prose>
          <slot />
        </Prose>
      </article>
    </main>
    <Footer />
  </body>
</html>
