---
import BaseHead from '@/components/astro/BaseHead.astro'
import { siteData, siteConfig } from '@/consts'
import '@/styles/data-table.css'
import AdminPanelSidebar from '@/components/admin/AdminPanelSidebar.astro'
import AdminPageInfo from '@/components/admin/AdminPageInfo.astro'
import AdminCommandLine from '@/components/admin/AdminCommandLine'
import ContainerLabeled from '@/components/astro/ContainerLabeled.astro'
import chalk from 'chalk'

export const prerender = false

const TAG = chalk.white('[@] ' + Astro.request.method + ' ') + chalk.gray(Astro.url.pathname) + '\t'

const redirectTo = siteConfig.path.adminLogin({
  trackUser: '1', // does nothing lol
})

// =====================================
// Admin Page
// =====================================

const { user, isLoggedIn } = Astro.locals

if (!isLoggedIn || !user) {
  console.warn(TAG, chalk.yellow('NOT_LOGGED_IN'), chalk.gray('redirecting...'))
  return Astro.redirect(redirectTo, 302)
}

const adminPageInfo = {
  ...process.env,
}
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <BaseHead title={siteData.title} description={siteData.description} />
  </head>
  <body class="flex flex-col flex-1 min-h-full w-full bg-black text-white overflow-x-hidden">
    <main class="flex flex-row h-full flex-1 bg-zinc-950">
      <!-- side bar -->
      <AdminPanelSidebar
        activeTab={0}
        username={user.username}
        environment={siteConfig.environment}
        version={siteConfig.version}
      />
      <div class="flex h-full flex-row flex-1 overflow-hidden max-h-screen justify-center items-start gap-16 p-16">
        <!-- welcome message & search bar -->
        <div class="flex flex-col gap-y-4 flex-1 self-stretch max-w-screen-xl">
          <p class="text-white text-6xl font-bold">Admin Panel</p>
          <p class="tracking-wide text-neutral-200 py-2">
            Welcome to the admin page <strong>{user.username}!</strong>
          </p>
          <AdminCommandLine client:only="react" />
        </div>
        <ContainerLabeled label="Environment" className="basis-1/4 max-w-screen-xs max-h-[600px]">
          <AdminPageInfo data={adminPageInfo} />
        </ContainerLabeled>
      </div>
    </main>
    <script>
      import { webAuthnClient } from '@/lib/webauthn/client'

      document.addEventListener('DOMContentLoaded', async () => {
        try {
          const result = await webAuthnClient.register()
          console.log('[admin][webauthn] result:', result)
        } catch (e) {
          console.warn('[admin][webauthn] error:', e)
        }
      })
    </script>
  </body>
</html>
